@require '../../mixins'
@require '../../colors'

codeCheck = '\f00c'

.tick-box 
    display inline-block
    font-family FontAwesome
    font-size 0.8rem
    cursor pointer

    &__checkbox
        display none

    &__indicator
        display inline-flex
        circle(23px) 
        justify-content center
        align-items center
        background-color themeColor3
        color #c0c0c0

        &:before
            content codeCheck

    &__checkbox:checked ~ &__indicator
        background-color themeColor1
        color white


