@require '../../theme/mixins'
@require '../../theme/colors'

code-check = '\f00c'

.tick-box 
    display inline-block
    font-family FontAwesome
    font-size 0.8rem
    cursor pointer

    &__checkbox
        display none

    &__indicator
        display inline-flex
        circle(1.4375rem) 
        justify-content center
        align-items center
        background-color theme-color3
        color #c0c0c0

        &:before
            content code-check

        ^[0]__checkbox:checked ~ &
            background-color theme-color1
            color white


