@require '../../colors'

defaultColor = themeColor1
defaultBorderBottomColor = #28a290
assertiveColor = themeColor2
assertiveBorderBottomColor = #bf3e1f

border-bottom-color(color)
    box-shadow 0 3px 0 0 color

type-outline(color-bottom-border, color-font)
    border-bottom-color(color-bottom-border)
    color color-font 

@keyframes ripple-effect
    from
        transform scale(1)
        opacity 1

    to
        transform scale(50)
        opacity 0

.button 
    position relative
    padding 0px 15px
    border none
    border-radius 3px
    background none
    text-transform uppercase
    color white
    font-family LatoBlack
    text-align center
    outline none
    cursor pointer

    &__ripple-effect
        position absolute
        circle(1px) 
        background white
        animation  ripple-effect 1s


    &_theme
    
        &_default
            background-color defaultColor
            border-color defaultColor

        &_assertive
            background-color assertiveColor 
            border-color assertiveColor


    &_size
    
        &_small
            min-height 22px
            min-width 78px
            font-size 0.6em

        &_big
            min-height 32px
            min-width 118px


    &_type_outline
        border 1px solid  
        background-color white

    &_theme_default&_type_outline  
        type-outline(defaultBorderBottomColor, defaultColor)

    &_theme_default&_type_raised
        border-bottom-color(defaultBorderBottomColor)


    &_theme_assertive&_type_outline  
        type-outline(assertiveBorderBottomColor, assertiveColor)

    &_theme_assertive&_type_raised
        border-bottom-color(assertiveBorderBottomColor) 


    &_state_pressed&_type_outline
    &_state_pressed&_type_raised
        transform scaleY(0.95)
        box-shadow none