@require '../../theme/colors'

default-color = theme-color1
default-border-bottom-color = #28a290
assertive-color = theme-color2
assertive-border-bottom-color = #bf3e1f

border-bottom-color(color)
    box-shadow 0 3px 0 0 color

type-outline(color-bottom-border, color-font)
    border-bottom-color(color-bottom-border)
    color color-font 

@keyframes ripple-effect
    from
        transform scale(1)
        opacity 1

    to
        transform scale(50)
        opacity 0

.button 
    position relative
    padding 0.1rem 0.5rem
    border none
    border-radius 0.21rem
    text-align center
    background none
    text-transform uppercase
    color white
    font-family LatoBlack
    outline none
    cursor pointer

    &_theme
    
        &_default
            background-color default-color
            border-color default-color

        &_assertive
            background-color assertive-color 
            border-color assertive-color

    &_size
    
        &_small
            min-height 22px
            min-width 78px
            font-size 0.6rem

        &_big
            min-height 32px
            min-width 118px

    &_type
    
        &_outline
            border 1px solid  
            background-color white

            &^[0]_theme
            
                &_default
                    type-outline(default-border-bottom-color, default-color)

                &_assertive  
                    type-outline(assertive-border-bottom-color, assertive-color)

            &^[0]_state_pressed
                transform scaleY(0.95)
                box-shadow none

        &_raised

            &^[0]_theme
        
                &_default
                    border-bottom-color(default-border-bottom-color)

                &_assertive
                    border-bottom-color(assertive-border-bottom-color) 

            &^[0]_state_pressed
                transform scaleY(0.95)
                box-shadow none

    &__ripple-effect
        position absolute
        circle(1px) 
        background white
        animation  ripple-effect 1s