mixin button(options)
    -
        const {
            text,
            size = 'small',
            type = 'default',
            theme = 'default',
            isSubmit = false,
            tabindex = false
        } = options || {};
    -const modifiers = [
    -    `button_size_${size}`,
    -    `button_type_${type}`,
    -    `button_theme_${theme}`
    -]
    button.button.js-button(
        class = modifiers,
        type = isSubmit ? 'submit' : '',
        tabindex = tabindex
    )= text