mixin button({ text, size="small", type="default", theme="default", isSubmit=false })
    -const modifiers = [
    -    `button_size_${size}`,
    -    `button_type_${type}`,
    -    `button_theme_${theme}`
    -]
    button.button(
        class = modifiers,
        type = isSubmit ? 'submit' : ''
    )= text