mixin drop-down({ values, tabindex=false })
    .drop-down(tabindex = tabindex)
        button.drop-down__button(tabindex = -1)
        select.drop-down__select
            each value in values
                option.drop-down__item= value