@require '../../theme/colors'

.footer
    display flex
    width 100%
    justify-content space-between
    padding 1.25rem 10%
    min-height 6.25rem
    background-color theme-color1

    &__socials
        display flex
        justify-content space-between
        width 7.1875rem
        font-size 1.25rem

    &__logo-container
        display flex
        flex-direction column 
        justify-content space-between

    &__copyright 
        font-family LatoLight
        color white