include ../link/link
include footer-logo


mixin footer  
    .footer  
        .footer__links
            +link({ text: 'about', theme: 'white' })
            +link({ text: 'terms', theme: 'white' })
        .footer__logo
            +footer-logo 
