include ../link/link
include ../logo/logo 


mixin footer  
    .footer  
        .footer__links
            +link({ text: 'about', theme: 'white' })
            +link({ text: 'terms', theme: 'white' })
        .footer__logo-container
            .footer__logo
                +logo
            .footer__copyright
                | Copyright © 2017 Whitesquare