include ../logo/logo 
include ../socials/socials


mixin footer  
    .footer  
        .footer__socials
            -
                const socialsInfo = [
                    { name: 'facebook', href: 'www.facebook.com', theme: 'white' },
                    { name: 'twitter', href: 'www.twitter.com', theme: 'white' },
                    { name: 'github', href: 'www.github.com', theme: 'white' }
                ] 
            +socials({ socialsInfo })
        .footer__logo-container
            .footer__logo
                +logo
            .footer__copyright
                | Copyright © 2017 Whitesquare