@require '../../colors'

.footer
    display flex
    justify-content space-between
    padding 1% 10%
    min-height 100px 
    background-color themeColor1

    &__socials
        color white

    &__links 
        display flex
        justify-content space-between
        width 115px
        font-size 20px

    &__logo-container
        display flex
        flex-direction column 

    &__logo
        align-self flex-end

    &__copyright
        margin-top 15px
        font-family LatoLight
        color white