include ../section/section
include ../arrow-button/arrow-button

mixin section-arrow-buttons
    .section-arrow-buttons
        +section({ title: 'arrow buttons' })
            +section-row({ align: 'center' })
                -const directions = ['left', 'right']
                -const themes = ['default', 'disabled', 'primary']
                each direction in directions
                    each theme in themes
                        +section-item
                            +arrow-button({ direction, theme })