include ../section/section
include ../arrow-button/arrow-button

mixin arrow-buttons
    .arrow-buttons
        +section({ title: 'arrow buttons' })
            +section-row
                -const directions = ['left', 'right']
                -const types = ['default', 'disabled', 'primary']
                each direction in directions
                    each type in types
                        +section-item
                            +arrow-button({ direction, type })