@require './fonts'

*
    box-sizing border-box
    padding 0
    margin 0

body
    padding 15px

@require './blocks/tooltip/tooltip'
@require './blocks/arrow-button/arrow-button'
@require './blocks/button/button'
@require './blocks/input/input' 
@require './blocks/social/social'
@require './blocks/preview/preview'
@require './blocks/calendar/calendar'
@require './blocks/drop-down/drop-down'
@require './blocks/event/event'
@require './blocks/feedback/feedback'
@require './blocks/news/news'
@require './blocks/search/search'
@require './blocks/tick-box/tick-box'
@require './blocks/toggle/toggle'
@require './blocks/user-profile/user-profile'
@require './blocks/validation-input/validation-input'
@require './blocks/chat/chat'
@require './blocks/messager/messager'
@require './blocks/message/message'