include blocks/button/button
include blocks/arrow-button/arrow-button
include blocks/tick-box/tick-box

html 
    title FlatUI 
    body
        +tick-box({ enabled: true })
        br
        br
        +tick-box({ enabled: false })
        
