include blocks/button/button
include blocks/arrow-button/arrow-button
include blocks/tick-box/tick-box
include blocks/news/news
include blocks/event/event
include blocks/tooltip/tooltip
include blocks/user-profile/user-profile
include blocks/social/social
include blocks/drop-down/drop-down
include blocks/search/search

html 
    title FlatUI 
    body
        +user-profile({ 
            theme: "default",
            name: "Sarah Brown",
            profession: "developer",
            photo: "sarah.png"  })
        br
        br
        +user-profile({ 
            theme: "gray",
            name: "John Smith",
            profession: "ux designer",
            photo: "john.png"  })
        br
        br 
        -dropDownValues = ["choose an option", "first option", "two", "three"]
        +drop-down({ values: dropDownValues })
        br
        br
        +search({ placeholder: "Search" })