extends ../user-page/user-page

include ~blocks/news/news

block data
    include ./news-page-data.pug

block description
    meta(name="description" content="flat ui")

block keywords
    meta(name="keywords", content="flat-ui")

block title 
    | Новости

block content
    .news-page
        ul.news-page__list
            each newsInfo in locals.newsList
                li.news-page__item
                    +news(newsInfo)