mixin toggle({ state="off" })
    label.toggle
        input(type = "checkbox").toggle__checkbox
        .toggle__switcher
            .toggle__slider
                .toggle__text.toggle__text_on on
                .toggle__text.toggle__text_off off