mixin toggle({ on=false })
    label.toggle
        input(type = "checkbox", checked = on).toggle__checkbox
        .toggle__switcher
            .toggle__slider
                .toggle__text.toggle__text_on on
                .toggle__text.toggle__text_off off