@require '../../colors'
@require '../../mixins'

.toggle

    &__checkbox
        display none

    &__label
        display inline-flex
        position relative
        width 59px
        height 24px
        align-items center
        border-radius 20px
        user-select none
        background-color themeColor3
        cursor pointer
        overflow hidden
        transition background-color 0.2s ease-in


    &__slider
        position relative
        display flex
        align-items center 
        width 200% 
        height 100% 
        margin-left -100% 
        transition margin 0.2s ease-in

        &:before
            content: ""
            display block
            position absolute
            left 52.5%
            circle(18px)
            background-color white

    &__text
        width 50%
        font-size 12px
        font-family LatoBlack
        color white
        text-transform uppercase 
        
        &_off
            padding-left 2.2em

        &_on
            padding-left 0.5em

    &__checkbox:checked ~ &__label
        background-color themeColor1

    &__checkbox:checked ~ &__label &__slider
        margin-left 0 
