.percentage
    position relative
    display inline-flex
    justify-content center
    align-items center

    &__value 
        position absolute 
        font-size 40px
        font-family LatoLight
        color #9d9d9d