.percentage
    position relative
    display inline-flex
    justify-content center
    align-items center

    &__value 
        position absolute 
        font-size 2.5rem
        font-family lato-light
        color #9d9d9d