include ../icon/icon
include ../link/link

mixin contact({ type, text })
    -const iconNames = {
    -    tel: 'phone',
    -    mailto: 'email',
    -    address: 'home'
    -}
    -const iconName = iconNames[type]
    .contact
        span.contact__icon
            +icon({ name: iconName, theme: 'primary', size: 'small' })
        span.contact__link
            +link({ text })