.contact 
    width 100%
    display flex 
    align-items center 
    padding 1% 2% 
    font-size 1.3rem
    cursor pointer 

    &__icon  
        width 1.25rem

    &__link
        margin-left 3% 