.search
    position relative
    width 228px

    &__button
        border none
        position absolute
        right 0
        height 28px
        width 33px
        background-color #e75735

        &:before
            font-family FontAwesome
            content '\f002'
            color white