@require '../../colors'

codeSearch = '\f002'

.search
    position relative
    width 228px

    &_error &__input
        background-color themeColor2
        color white
        text-overflow ellipsis

    &__button
        border none
        position absolute
        right 0
        height 28px
        width 33px
        background-color themeColor2
        outline none

        &:before
            font-family FontAwesome
            content codeSearch
            color white