@require '../../colors'

codeSearch = '\f002'

.search
    position relative
    width 228px

    &__button
        border none
        position absolute
        right 0
        height 28px
        width 33px
        background-color themeColor2

        &:before
            font-family FontAwesome
            content codeSearch
            color white