extends ../base-page/base-page

include ~blocks/header/header
include ~blocks/footer/footer

block title
    | The best social network

block body
    .page
        .page__header
            +header
        .page__main
            block main  
        .page__footer
            +footer
