@require '../../colors'

.event

    &__description 
        display flex
        flex-direction column
        background-color themeColor1

    &__date  
        display flex
        align-items baseline
        justify-content space-around 

    &__day   
        font-size 73px  
        margin-left -3.5%

    &__month    
        font-size 30px
        text-transform capitalize 

    &__title
        font-size 13px  

    &__info
        margin-top 5px 

    &__add-event-button 
        margin-top 15px
        align-self center