@require '../../theme/colors'

.event 

    &__date  
        display flex
        align-items baseline
        justify-content space-around 

    &__day   
        font-size 4.5rem
        margin-left -3.5%

    &__month    
        font-size 1.87rem
        text-transform capitalize  
        margin-top 0.3125rem

    &__add-event-button 
        margin-top 0.9375rem
        align-self center