mixin search({ placeholder="Search" })
    .search
        .search__form
            input.input.search__input(placeholder = placeholder)
            button(type = "submit").input__button.search__button