include ../input/input

mixin search({ placeholder="Search", tabindex=false })
    .search.js-search
        form.search__form
            +input({ placeholder, tabindex, type: 'text' })
            button(type = "submit").search__button