include ../section/section
include ../location/location 

mixin location-section
    .location-section
        +section({ title: 'location' })
            +section-row 
                +location({ 
                    coordinates: [56.4531907, 84.9756513], 
                    message: "Meet us!",
                    address: "Tomsk, Krasnoarmeyskaya, 147<br/> office 201"
                })