@require '~colors'

.sign-up
    display flex
    flex-direction column 
    align-items center

    &__title
        color themeColor1
        font-family LatoLight

    &__form
        margin-top 15px 