extends ../guest-page/guest-page

include ~blocks/sign-up-form/sign-up-form

block description
    meta(name="description" content="flat ui")

block keywords
    meta(name="keywords", content="flat-ui")

block title
    | Регистрация

block content
    .sign-up
        h2.sign-up__title Регистрация
        .sign-up__form
            +sign-up-form