@require '../../theme/colors'

.header
    display flex
    justify-content space-between
    align-items center
    padding 1.25rem 10%
    background-color theme-color1

    &__logo
        flex-grow 1

    &__search
        flex-grow 0.5
        display flex
        justify-content flex-end