extends ../user-page/user-page
 
include ~blocks/messenger/messenger 
include ~blocks/filterable-user-list/filterable-user-list  

block data
    include ./messages-data.pug

block description
    meta(name="description" content="flat ui")

block keywords
    meta(name="keywords", content="flat-ui")

block title 
    | Сообщения

block content 
    .messages
        .messages__messenger
            +messenger(locals.messengerData)
        .messages__user-list
            +filterable-user-list({ title: 'Друзья', users: locals.friends })