-
    locals.messengerData = {
        messages: [
            { text: 'Привеееееееееееееееет!!!', type: 'incomming' }
        ],
        user: {  
            name: "Sarah Brown",
            profession: "developer",
            photo: "sarah.png"  
        }
    }; 

    locals.friends = [
        {  
            name: "Sarah Brown",
            profession: "developer",
            photo: "sarah.png"  
        },
        {  
            name: "John Smith",
            profession: "ux designer",
            photo: "john.png"  
        }
    ];