-
    locals.user = {  
        name: "Sarah Brown",
        profession: "developer",
        photo: "sarah.png"  
    };

    locals.messages = [
        { text: 'Привеееееееееееееееет!!!', type: 'incomming' }
    ];

    locals.friends = [
        {  
            name: "Sarah Brown",
            profession: "developer",
            photo: "sarah.png"  
        },
        {  
            name: "John Smith",
            profession: "ux designer",
            photo: "john.png"  
        }
    ];