mixin tooltip({ theme="default", arrowLocated="left" })
    -const modifiers = [
    -    `tooltip_theme_${theme}`,
    -    `tooltip_arrow-located_${arrowLocated}`,
    -]
    span.tooltip(class = modifiers)(class = attributes.class)
        block

//tooltip сделать позицию абсолютной
//при этом поломается feedback, messenger