extends ../page/page

include ~blocks/menu/menu

block data
    include ./user-page-data.pug

block main 
    .user-page
        .user-page__menu
            +menu(locals.menuData)
        .user-page__content
            block content