include ../section/section 
include ../slider/slider

mixin section-sliders
    .section-sliders
        +section({ title: 'sliders' })
            +section-row({ type: 'sliders' }) 
                +slider({ value: 40, scaleEnabled: false, theme: 'assertive' }) 
                +slider({ value: 75, scaleEnabled: true, theme: 'default' })