include ../tooltip/tooltip

mixin validation-input({ placeholder, type=null, pattern=null, textOk="ok", textError="error" })
    .validation-input
        input.input.validation-input__input(
            placeholder = placeholder,
            type = type,
            pattern = pattern
        )
        -const validationOk = [
        -    "validation-input__message",
        -    "validation-input__message_ok"
        -]
        -const validationError = [
        -    "validation-input__message",
        -    "validation-input__message_error"   
        -]
        +tooltip({ theme: "default" })(class = validationOk)
            p= textOk
        +tooltip({ theme: "assertive" })(class = validationError)
            p= textError