@require '../../theme/colors'

.validation-input
    display flex  

    &__message 
        display none
        flex-grow 1
        margin-left 10px 

    .input:valid ~ &__message_ok
    .input:invalid ~ &__message_error
        display block