@require '../../colors'

.validation-input
    display flex  

    &__input
        width 208px

    &__message 
        display none
        width 75px 
        margin-left 10px 
        font-size 10px
        text-transform uppercase

    &__input:valid ~ &__message_ok
    &__input:invalid ~ &__message_error
        display block