border-side-radius = 2px

.preview
    display flex
    width 288px
    height 212px 
    color white

    &__column

        &_left  
            border-top-left-radius border-side-radius 

        &_right
            flex-grow 1 
            padding 7.5%
            border-top-right-radius border-side-radius 