mixin preview({ image, blockName })
    .preview(class=blockName)
        .preview__column.preview__column_left
            img.preview__img(
                src = require(`./blocks/${blockName}/img/${image}`),
                alt = 'news image'
            )
        .preview__column.preview__column_right(class = `${blockName}__description`)
            block

mixin preview-title
    .preview__title&attributes(attributes)
        block

mixin preview-subtitle
    .preview__subtitle&attributes(attributes)
        block

mixin preview-info
    .preview__info&attributes(attributes)
        block
