include ../input/input
include ../validation-input/validation-input
include ../button/button


mixin sign-up-form
    form.sign-up-form
        .sign-up-form__login
            +input({
                placeholder: 'Логин',
                type: 'text' 
            })
        .sign-up-form__email
            +validation-input({ 
                placeholder: 'Почта',
                type: 'email'
            })
        .sign-up-form__password
            +input({
                placeholder: 'Пароль',
                type: 'password' 
            })
        .sign-up-form__password-repeat
            +input({
                placeholder: 'Повторите пароль',
                type: 'password' 
            })
        .sign-up-form__sign-up
            +button({ 
                text: 'Зарегистрироваться', 
                size: 'big',
                type: 'raised',
                isSubmit: true
            })
