include ../input/input
include ../validation-input/validation-input
include ../button/button


mixin sign-up-form
    form.sign-up-form 
        .sign-up-form__item.sign-up-form__item_input
            input.input(
                placeholder = 'Логин',
                type = 'Текст' 
            )
        .sign-up-form__item.sign-up-form__item_input
            +validation-input({ 
                placeholder: 'Почта',
                type: 'email'
            })
        .sign-up-form__item.sign-up-form__item_input
            input.input(
                placeholder = 'Пароль'
                type = 'password' 
            )
        .sign-up-form__item.sign-up-form__item_input
            input.input(
                placeholder = 'Повторите пароль'
                type = 'password' 
            )
        .sign-up-form__item.sign-up-form__item_button
            +button({ text: 'Зарегистрироваться', size: 'big' })
