margin-top-value = 15px

.sign-up-form 
 
    &__email
    &__password
    &__password-repeat
        margin-top margin-top-value

    &__sign-up
        display flex 
        margin-top margin-top-value