mixin section({ title })
    .section&attributes(attributes)
        h2.section__title= title
        .section__content
            block

mixin section-row(options)
    -const { type, align, verticalAlign } = options || {};
    - 
        const modifiers = [
            type ? `section__row_type_${type}` : '',
            align ? `section__row_align_${align}` : '',
            verticalAlign ? `section__row_vertical-align_${verticalAlign}` : ''
        ]
    .section__row(class = modifiers)
        block

mixin section-column
    .section__column
        block

mixin section-item
    .section__item
        block