.section 
    display flex
    flex-direction column
    justify-content center
    width 100%

    &__title
        font-size 1.125rem
        text-transform uppercase
        text-align center
        color #4f4f4f
        font-family LatoBlack

    &__content  
        margin-top 1.875rem

    &__row 
        display flex 
        flex-direction row 
        margin-top 1.875rem

        &:first-child 
            margin-top 0

        &_type 

            &_buttons 
                justify-content center
                align-items flex-end 

            &_charts
                justify-content center
                flex-wrap wrap

            &_sliders
                justify-content space-between 

                @media (max-width 637px)
                    align-items center
                    flex-direction column
                    height 115px
                    padding-top 20px

            &_form-elements
                justify-content center

                @media (max-width 720px)
                    flex-direction column
                    align-items center

            &_previews
                justify-content space-between
                
                @media (max-width 712px)
                    flex-direction column
                    align-items center


        &_vertical-align

            &_bottom
                align-items flex-end

        &_align

            &_center
                justify-content center

            &_space-between
                justify-content space-between

            &_left
                justify-content left

            &_right
                justify-content right

    &__column 
        display flex
        flex-direction column   
        flex-grow 1

        &_type

            &_form-elements        

                @media (max-width 720px)
                    margin-top 1.875rem

    &__item
        margin-left 15px

        &:first-child
            margin-left 0
        
        &_type

            &_preview
                margin-left 0

                @media (max-width 712px)
                    margin-top 15px