.socials 
    display flex
    justify-content space-between
    align-items center
    min-width 4.375rem
    max-width 10rem

    &_theme

        &_default
            color white
            
        &_gray
            color #757575