include ../social/social

mixin socials({ theme='default', socialsInfo })
    .socials(class = `socials_theme_${theme}`)
        each socialInfo in socialsInfo
            .socials__item
                +social(socialInfo)