.menu  

    &__item
        display flex 
        align-items baseline 
        padding 2% 4%
        cursor pointer
        list-style none

        &:first-child
            margin-top 0

        &:hover
            background-color #f3f3f3

    &__icon 
        width 30px  

    &__link
        margin-left 6%
        font-size 25px