include ../link/link
include ../icon/icon


mixin menu({ items }) 
    ul.menu 
        each item in items
            li.menu__item
                .menu__icon
                    +icon({ name: item.iconName, theme: 'primary' })
                .menu__link
                    +link({ text: item.text, href: item.href }) 