
[4mC:\Users\OEM\Desktop\frontend development\Учебные макеты\FlatUI\pages\index\index.js[24m
  [2m1:22[22m  [31merror[39m  Newline required at end of file but not found  [2meol-last[22m
  [2m1:22[22m  [31merror[39m  Missing semicolon                              [2msemi[22m

[31m[1m✖ 2 problems (2 errors, 0 warnings)
[22m[39m