include ../preview/preview

mixin news({ image, title, date, info })
    .news
        +preview({ type: 'news', image })
            +preview-title= title
            +preview-subtitle= date
            +preview-info= info