@require '../../theme/colors'
@require '../../theme/mixins'

.toggle

    &__checkbox
        display none

    &__switcher
        display inline-flex
        position relative
        width 59px
        height 24px
        align-items center
        border-radius 20px
        user-select none
        background-color theme-color3
        cursor pointer
        overflow hidden
        transition background-color 0.2s ease-in

        ^[0]__checkbox:checked ~ &
            background-color theme-color1

    &__slider
        position relative
        display flex
        align-items center 
        width 200% 
        height 100% 
        margin-left -100% 
        transition margin 0.2s ease-in

        &:before
            content: ""
            display block
            position absolute
            left 52.5%
            circle(18px)
            background-color white

        ^[0]__checkbox:checked ~ ^[0]__switcher &
            margin-left 0

    &__text
        width 50%
        font-size 0.75rem
        font-family LatoBlack
        color white
        text-transform uppercase 
        
        &_off
            padding-left 26.4px

        &_on
            padding-left 6px 