mixin toggle({ on=false })
    label.toggle
        input(type = "checkbox", checked = on).toggle__checkbox
        span.toggle__switcher
            span.toggle__slider
                span.toggle__text.toggle__text_on on
                span.toggle__text.toggle__text_off off