@require '../../colors'

.validation-input
    display flex 
    height 28px

    &__input
        width 208px

    &__validation   
        width 75px 
        margin-left 10px 
        font-size 10px
        text-transform uppercase

    &__input:valid ~ &__validation_ok
        display inline-flex

    &__input:invalid ~ &__validation_error
        display inline-flex