@require '../../theme/colors'

message-margin-value = 1.25rem
margin-top-value = 0.9375rem
code-message = '\f075'
code-photo = '\f030'

.chat 
    width 100%  
    padding 0.625rem 1.56rem 1.56rem 1.56rem
    background-color #f2f2f2

    &__icons
        display flex
        justify-content space-between
        margin-top margin-top-value

    &__messages
        margin-top margin-top-value
        height 10.5rem
        padding 0 3%
        overflow-x hidden
        overflow-y scroll

    &__message
        margin-top 0.625rem

        &_incomming
            margin-right message-margin-value

        &_outgoing
            margin-left message-margin-value 

    &__input 
        margin-top margin-top-value
    
    &__reply-btn
        display flex
        flex-direction column
        margin-top margin-top-value


