@require '../../theme/colors'

message-margin-value = 20px 
margin-top-value = 15px
code-message = '\f075'
code-photo = '\f030'

.chat
    display inline-block
    width 100%  
    padding 10px 25px 25px 25px
    background-color #f2f2f2

    &__links
        display flex
        justify-content space-between
        margin-top margin-top-value

    &__messages
        margin-top margin-top-value
        min-height 132px

    &__message
        margin-top 10px

        &_incomming
            margin-right message-margin-value

        &_outgoing
            margin-left message-margin-value 

    &__input 
        margin-top margin-top-value
    
    &__reply-btn
        display flex
        flex-direction column
        margin-top margin-top-value


