include ../icon/icon
include ../message/message
include ../textarea/textarea
include ../button/button

mixin chat({ messages })
    .chat
        .chat__icons
            +icon({ name: 'message', size: 'big', theme: 'gray' })
            +icon({ name: 'photo', size: 'big', theme: 'gray' })
        ul.chat__messages
            each message in messages 
                li.chat__message(class = `chat__message_${message.type}`)
                    +message(message)
        .chat__input
            +textarea({ type: 'chat' })
        .chat__reply-btn
            +button({ 
                text: "reply",  
                type: "raised",
                size: "big" 
            })