include ../arrow-box/arrow-box

mixin tooltip({ theme="default", arrowLocated="left" })
    -
        const arrowBoxOptions = {
            theme,
            arrowPosition: arrowLocated,
            type: 'tooltip'
        }
    .tooltip
        +arrow-box(arrowBoxOptions)
            block