include ../arrow-box/arrow-box

mixin message({ text, type })
    -const arrowBoxOptions = { 
    -    arrowPosition: type == "outgoing" ? "right" : "left",
    -    theme: 'white',
    -    type: 'message'
    -}   
    .message
        +arrow-box(arrowBoxOptions)
            span.message__text= text