@require '../../colors'

.messenger
    width 288px

    &__header
        display flex
        flex-direction column
        justify-content space-between
        align-items center
        height 115px
        background-color themeColor1

    &__user-name
        margin-top 15px
        font-size 34px
        font-family SourceSansProLight
        color white

    &__user-profile
        position relative
        display flex
        justify-content center
        width 100%
        height 34px
        background-color #46ab9d

    &__user-profile .user-profile 
        top -50%