include ../user-profile/user-profile
include ../chat/chat

mixin messenger({ messages, user={} })
    .messenger
        .messenger__header
            .messenger__user-name= user.name
            .messenger__user-profile
                -const userProfileOption = Object.assign({ theme: "default" }, user)
                +user-profile(userProfileOption)
        .messenger__body 
            .messenger__chat
                +chat({ messages })

