extends ../user-page/user-page

include ~blocks/event/event
include ~blocks/calendar/calendar

block variables
    include ./events-data

block description
    meta(name="description" content="flat ui")

block keywords
    meta(name="keywords", content="flat-ui")

block title 
    | События

block content
    .events 
        ul.events__list
            each eventInfo in locals.events
                li.events__item
                    +event(eventInfo)
        .events__calendar
            +calendar