-
    const eventInfo = {
        image: 'event-img.png',
        day: '26',
        month: 'Janury',
        title: 'this is the title',
        info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
    };

    locals.events = new Array(5).fill(eventInfo);