.events
    display flex
    justify-content space-around
    flex-wrap wrap-reverse

    &__list
        list-style none

    &__item
        margin-top 0.625rem

        &:first-child
            margin-top 0

    &__calendar
        margin-left 0.9375rem
        margin-bottom 1.875rem