include ../section/section
include ../stages/stages

mixin stages-section
    .stages-section
        +section({ title: 'stages' })
            +section-row 
                +stages({ length: 5, progress: 3 })