@require '../../colors'

primaryColor = themeColor1
errorColor = themeColor2
primaryBorderBottomColor = #28a290
errorBorderBottomColor = #bf3e1f

border-bottom-color(color)
    box-shadow 0 3px 0 0 color

type-outline(color-bottom-border, color-font)
    border-bottom-color(color-bottom-border)
    color color-font
    border-bottom-style none

.button 
    padding 0px 15px
    border none
    border-radius 3px
    background none
    text-transform uppercase
    color white
    font-family LatoBlack
    text-align center

    &_theme_primary
        background-color primaryColor
        border-color primaryColor

    &_theme_error
        background-color errorColor 
        border-color errorColor

    &_size_small
        min-height 22px
        min-width 78px
        font-size 0.6em

    &_size_big
        min-height 32px
        min-width 118px

    &_type_outline
        border 1px solid  
        background-color white

    &_theme_primary&_type_outline  
        type-outline(primaryBorderBottomColor, primaryColor)

    &_theme_error&_type_outline  
        type-outline(errorBorderBottomColor, errorColor)

    &_theme_primary&_type_raised
        border-bottom-color(primaryBorderBottomColor)

    &_theme_error&_type_raised
        border-bottom-color(errorBorderBottomColor) 