include ../standard-buttons/standard-buttons
include ../arrow-buttons/arrow-buttons
include ../sliders/sliders 
include ../percentages-pie-charts/percentages-pie-charts
include ../stages-section/stages-section
include ../form-elements/form-elements 
include ../news-events/news-events 
include ../location-section/location-section 
include ../calendar-section/calendar-section
include ../messenger-section/messenger-section

mixin flat-ui
    .flat-ui
        .flat-ui__line
            +standard-buttons
        .flat-ui__line
            +arrow-buttons
        .flat-ui__line
            +sliders 
        .flat-ui__line
            +percentages-pie-charts
        .flat-ui__line
            +stages-section
        .flat-ui__line
            +form-elements
        .flat-ui__line
            +news-events 
        .flat-ui__line
            +location-section 
        .flat-ui__line
            .flat-ui__column.flat-ui__column_left 
                +calendar-section
            .flat-ui__column.flat-ui__column_right
                +messenger-section
