include ../section-standard-buttons/section-standard-buttons
include ../section-arrow-buttons/section-arrow-buttons
include ../section-percentages-and-pie-charts/section-percentages-and-pie-charts
include ../section-sliders/section-sliders
include ../section-stages/section-stages
include ../section-form-elements/section-form-elements 
include ../section-news-and-events/section-news-and-events 
include ../section-location/section-location 
include ../section-calendar/section-calendar
include ../section-messenger/section-messenger   

mixin flat-ui-body
    .flat-ui-body  
        .flat-ui-body__line
            +section-standard-buttons
        .flat-ui-body__line
            +section-arrow-buttons
        .flat-ui-body__line
            +section-percentages-and-pie-charts
        .flat-ui-body__line
            +section-sliders 
        .flat-ui-body__line
            +section-stages    
        .flat-ui-body__line
            +section-form-elements
        .flat-ui-body__line
            +section-news-and-events 
        .flat-ui-body__line
            +section-location 
        .flat-ui-body__line
            .flat-ui-body__column.flat-ui-body__column_left
                +section-calendar
            .flat-ui-body__column.flat-ui-body__column_right
                +section-messenger
