include ../standard-buttons/standard-buttons
include ../arrow-buttons/arrow-buttons
include ../sliders/sliders
include ../percentages-pie-charts/percentages-pie-charts
include ../stages-section/stages-section
include ../form-elements/form-elements 
include ../news-events/news-events 
include ../location-section/location-section 
include ../calendar-section/calendar-section
include ../messenger-section/messenger-section   

mixin flat-ui-body
    .flat-ui-body  
        .flat-ui-body__line
            +standard-buttons
        .flat-ui-body__line
            +arrow-buttons
        .flat-ui-body__line
            +sliders 
        .flat-ui-body__line
            +percentages-pie-charts
        .flat-ui-body__line
            +stages-section    
        .flat-ui-body__line
            +form-elements
        .flat-ui-body__line
            +news-events 
        .flat-ui-body__line
            +location-section 
        .flat-ui-body__line
            .flat-ui-body__column.flat-ui-body__column_left
                +calendar-section
            .flat-ui-body__column.flat-ui-body__column_right
                +messenger-section
