include ../section/section 
include ../slider/slider

mixin sliders
    .sliders
        +section({ title: 'sliders' })
            +section-row.sliders__row
                +section-item
                    +slider({ value: 40, scaleEnabled: false, theme: 'assertive' }) 
                +section-item
                    +slider({ value: 75, scaleEnabled: true, theme: 'default' })