include ../validation-input/validation-input
include ../button/button
include ../textarea/textarea

mixin feedback()
    .feedback
        form.feedback__form
            .feedback__name
                -const namePattern = "^[A-Za-zА-Яа-я ]+$";
                +validation-input({ 
                    placeholder: "Your Name",
                    pattern: namePattern,
                    textOk: "thanks!",
                    textError: "error"
                })
            .feedback__email 
                +validation-input({ 
                    placeholder: "Your Email",
                    type: "email",
                    textOk: "thanks!",
                    textError: "error"
                })
            .feedback__message 
                +textarea({ placeholder: "Your Message" })
            .feedback__submit
                +button({ 
                    text: "button", 
                    size: "big", 
                    type: "raised"
                })