margin-top-value = 10px

.feedback
    display flex 
    flex-direction column 
    width 290px

    &__email
        margin-top margin-top-value

    &__message
        margin-top margin-top-value  

    &__submit
        margin-top margin-top-value
        float right