@require '../../theme/colors'

code-cross-hairs = '\f05b'
code-map-marker = '\f041'

.location
    width 100%

    &__map
        height 208px

    &__footer
        display flex 
        width 100%
        align-items center
        padding 0 5%
        height 69px
        border-radius 0 0 3px 3px 
        background-color theme-color2
        color white

    &__message
        font-size 30px
        font-family LatoLight

    &__address 
        flex-grow 1
        margin-left 5%
        font-size 13px
        font-family LatoBlack
        text-transform uppercase

    &__icons
        flex-grow 0.1
        display flex
        justify-content space-between
          