@require '../../theme/colors'

code-cross-hairs = '\f05b'
code-map-marker = '\f041'

breakpoint-value = 718px

.location
    width 100%
    min-width 10.125rem 
    max-width 60rem

    &__map
        height 13rem

    &__footer
        display flex  
        width 100%
        align-items center 
        padding 3%
        border-radius 0 0 0.1875rem 0.1875rem
        background-color theme-color2
        color white 

    &__message
        font-size 1.875rem
        font-family lato-light

    &__address 
        flex-grow 1
        margin-left 5%
        font-size 0.8125rem
        font-family lato-bold
        text-transform uppercase 

    &__icons
        align-items flex-end
        display flex
        justify-content space-between 
        margin 0 0.3125rem
          
    &__icon
        margin 0 0.3125rem