include ../icon/icon

append scripts
    script(src='https://api-maps.yandex.ru/2.1/?lang=en_US', type='text/javascript')

mixin location({ message, address, coordinates=[] })
    .location(data-coordinates = coordinates)
        .location__map(id = "map")
        .location__footer
            span.location__message= message
            span.location__address!= address
            .location__icons
                .location__icon
                    +icon({ name: "crosshairs", theme: "white", size: "big" })
                .location__icon
                    +icon({ name: "map-marker", theme: "white", size: "big" })