include ../tooltip/tooltip

mixin text-input({ placeholder })
    .text-input
        input.input.text-input__input(
            placeholder = placeholder,
            pattern = "^[A-Za-zА-Яа-я\s]+$"
        )
        -const validationOk = [
        -    "text-input__validation",
        -    "text-input__validation_ok"
        -]
        -const validationError = [
        -    "text-input__validation",
        -    "text-input__validation_error"   
        -]
        +tooltip({ theme: "default" })(class = validationOk)
            p thanks!
        +tooltip({ theme: "warning" })(class = validationError)
            p error!