@require '../../theme/mixins'
@require '../../theme/colors'

.user-profile   
    position relative
    display inline-flex  
    align-items center

    &__photo 
        margin-right 0.625rem

    &__name
        font-size 1.125rem
        font-family lato-regular
        text-transform capitalize

        ^[0]_default &
            color white  

        ^[0]_gray &
            color theme-color2

    &__profession
        font-size 0.68rem
        font-family lato-bold
        text-transform uppercase

        ^[0]_default &
            color white

        ^[0]_gray &
            color #4f4f4f

    &__socials
        margin-top 0.625rem
        width 100% 