@require '../../mixins'
@require '../../colors'

.user-profile   
    position relative
    display inline-flex  
    align-items center

    &__photo 
        margin-right 10px

    &__name
        font-size 1.125rem
        font-family LatoRegular
        text-transform capitalize

    &_default &__name
        color white  

    &_gray &__name 
        color themeColor2

    &__profession
        font-size 0.68rem
        font-family LatoBlack
        text-transform uppercase

    &_default &__profession
        color white

    &_gray &__profession
        color #4f4f4f

    &__socials
        margin-top 10px 
        width 100% 