.tick-box
    display flex
    circle(23px) 
    justify-content center
    align-items center
    font-family FontAwesome
    font-size 0.8em

    &:before 
        content '\f00c'

    &_enabled_true
        background-color #4eb7a8
        color white

    &_enabled_false
        background-color #e5e5e5
        color #c0c0c0
