@require '../../mixins'
@require '../../colors'

codeCheck = '\f00c'

.tick-box
    display flex
    circle(23px) 
    justify-content center
    align-items center
    font-family FontAwesome
    font-size 0.8em

    &:before 
        content codeCheck

    &_enabled_true
        background-color themeColor1
        color white

    &_enabled_false
        background-color themeColor3
        color #c0c0c0
