codeFacebook = '\f09a'
codeTwitter = '\f099'
codeDribble = '\f17d'

.social
    font-family FontAwesome
    font-size 25px 

    &_facebook:before
        content codeFacebook

    &_twitter:before
        content codeTwitter

    &_dribble:before
        content codeDribble

