codeFacebook = '\f09a'
codeTwitter = '\f099'
codeDribble = '\f17d'
codeGithub = '\f09b'

.social
    font-family FontAwesome
    font-size 25px 
    text-decoration none

    &_name

        &_facebook:before
            content codeFacebook

        &_twitter:before
            content codeTwitter

        &_dribble:before
            content codeDribble

        &_github:before
            content codeGithub

    &_theme

        &_default
            color white

        &_gray
            color #757575
