include ../icon/icon

mixin social({ name, href, theme='default' })
    -const modifiers = [`social_name_${name}`, `social_theme_${theme}`]
    a.social(href = href)
        +icon({ name, theme, size: 'big' })