extends ../guest-page/guest-page

include ~blocks/sign-in-form/sign-in-form
include ~blocks/link/link


block content
    .sign-in
        h2.sign-in__title Вход
        .sign-in__form
            +sign-in-form
        .sign-in__links
            +link({ text: 'Регистрация' })