@require '~colors'

.sign-in
    display flex
    flex-direction column 
    align-items center

    &__title
        color themeColor1
        font-family LatoLight

    &__form
        margin-top 15px

    &__links 
        margin-top 15px
        font-size 20px
        text-transform capitalize
        font-weight bold