codeProfile = '\f007'
codeNews = '\f1ea'
codeMessages = '\f086'
codeCalendar = '\f073'
codeSuitcase = '\f0f2'
codeEmail = '\f003'
codePhone = '\f095'
codeHome = '\f015'

.icon
    color #28a290
    font-family FontAwesome

    &_profile:before
        content codeProfile

    &_news:before
        content codeNews

    &_messages:before
        content codeMessages

    &_calendar:before
        content codeCalendar

    &_suitcase:before
        content codeSuitcase

    &_email:before
        content codeEmail

    &_phone:before
        content codePhone

    &_home:before
        content codeHome