include ../user-profile/user-profile
include ../avatar/avatar
include ../chat/chat

mixin messenger({ messages=[], user={} })
    .messenger
        .messenger__header
            span.messenger__user-name= user.name
            .messenger__user-photo
                +avatar({ photo: user.photo }) 
        .messenger__chat
            +chat({ messages })

