.event

    &__description 
        display flex
        flex-direction column
        background-color #4eb7a8

    &__date  
        display flex
        align-items baseline
        justify-content space-around
        font-family LatoLight, sans-serif 

    &__day   
        font-size 73px  

    &__month    
        font-size 30px
        text-transform capitalize 

    &__title
        font-size 13px
        font-family LatoBlack, sans-serif
        text-transform uppercase

    &__info
        margin-top 5px
        font-size 11px
        font-family LatoRegular, sans-serif 

    &__add-event-button 
        margin-top 15px
        align-self center