include ../preview/preview
include ../button/button

mixin event({ image, title, day, month, info })
    +preview({ image, blockName: "event" }) 
        +preview-title
            .event__date
                span.event__day= day
                span.event__month= month.slice(0, 3) 
        +preview-subtitle(class = 'event__title')= title
        +preview-info(class = 'event__info')= info
        .event__add-event-button
            +button({ 
                text: "add to calendar",
                type: "outline",  
                size: "small"
            })