@require '../../colors'

.slider
    max-width 260px

    &_type_tooltiped &__tooltip 
        width 40px
        height 31px
        margin-top -39px
        margin-left -10px 

    &_type_tooltiped .ui-slider 

        & .ui-widget-header
        & .ui-slider-handle 
            background-color themeColor1

        & .ui-state-active .slider__tooltip
            display inline-flex

        & .ui-state-hover .slider__tooltip
            display inline-flex

    &_type_scaled &__scale
        margin-top 10px

    &_type_scaled .ui-slider  

        & .ui-slider-handle
            background-color themeColor2

    & .ui-slider
        height 5px
        border none
        background-color #e5e5e5

        & .ui-slider-handle
            top -7px
            border none
            border-radius 50%

            &:focus
                outline none

            &.ui-state-active
                border none
                color inherit 