@require '../../theme/colors'

arrow-offset = -0.25em 

.arrow-box
    position relative   
    display inline-flex
    flex-direction column
    padding 6px 
    border-radius 5px
    justify-content center
    align-items center  
    font-family LatoBlack

    &:before
        content ''
        position absolute 
        display block
        width 0.5rem
        height 0.5rem
        transform rotate(45deg)
        border-bottom-left-radius 2px
        background-color inherit 

    &_type

        &_message 
            max-width 243px
            padding 15px 24px 15px 20px
            font-size 0.8rem
            font-family LatoBold

        &_profile-info  
            padding 10px 37px
            min-width 175px 

        &_tooltip
            width 40px 

        &_validation-message
            width 100%
            height 100%
            font-size 0.7rem
            text-transform uppercase

    &_theme

        &_default
            background-color theme-color1
            color white

        &_gray
            background-color theme-color3
            color black 

        &_assertive
            background-color theme-color2
            color white

        &_white
            background-color white
            color #868686

    &_arrow-position
    
        &_top:before
            top arrow-offset

        &_right:before
            right arrow-offset

        &_bottom:before
            bottom arrow-offset

        &_left:before 
            left arrow-offset