mixin arrow-box({ type, theme='default', arrowPosition='left' })
    -const modifiers = [
    -    `arrow-box_theme_${theme}`,
    -    `arrow-box_arrow-position_${arrowPosition}`,
    -    type ? `arrow-box_type_${type}` : ''
    -]
    .arrow-box.js-arrow-box(class = modifiers)
        block
