@require '../../colors'

arrowOffset = -0.25em 

.arrow-box
    position relative   
    display inline-flex
    flex-direction column
    padding 6px 
    border-radius 5px
    justify-content center
    align-items center  
    font-family LatoBlack

    &_type_message 
        max-width 243px
        padding 15px 24px 15px 20px
        font-size 13px
        font-family LatoBold

    &_theme

        &_default
            background-color themeColor1
            color white

        &_gray
            background-color themeColor3
            color black 

        &_assertive
            background-color themeColor2
            color white

        &_white
            background-color white
            color #868686

    &:before
        content ''
        position absolute 
        display block
        width 0.5rem
        height 0.5rem
        transform rotate(45deg)
        border-bottom-left-radius 2px
        background-color inherit 

    &_arrow-position
    
        &_top:before
            top arrowOffset

        &_right:before
            right arrowOffset

        &_bottom:before
            bottom arrowOffset

        &_left:before 
            left arrowOffset