include ../section/section
include ../messenger/messenger

mixin messenger-section
    .messenger-section 
        +section({ title: 'messenger' })
            +section-row
                -
                    messages = [{ 
                        text: "Hey! So are we cool to meet at the art gallery? Say 8pm", 
                        type: "incomming"
                    },
                    { 
                        text: "Yeah that sounds great. See you then.", 
                        type: "outgoing"
                    }]
                -
                    user = {  
                        name: "Sarah Brown",
                        profession: "developer",
                        photo: "sarah.png"  
                    }
                +messenger({ messages, user })