@require '../../mixins'
@require '../../colors'

primaryColor = themeColor1
disabledColor = themeColor3
codeAngelLeft = "\f104"
codeAngelRight = "\f105"

.arrow-button
    display flex  
    justify-content center
    align-items center
    circle(50px)
    font-family FontAwesome
    font-size 40px  

    &_left:before
        display inline-block
        padding-right 5px
        content codeAngelLeft

    &_right:before
        display inline-block
        padding-left 5px
        content codeAngelRight

    &_default
        border: 3px solid primaryColor
        color primaryColor

    &_disabled
        background-color disabledColor
        color white

    &_primary
        background-color primaryColor
        color white