@require '../../mixins'
@require '../../colors'

primaryColor = themeColor1
disabledColor = themeColor3

codeAngelLeft = "\f104"
codeAngelRight = "\f105"

angelPadding = 5px

.arrow-button
    display flex  
    justify-content center
    align-items center
    circle(50px)
    margin 0
    padding 0
    background none
    font-family FontAwesome
    font-size 2.5rem 
    cursor pointer
    outline none
    border none

    &_direction

        &_left:before 
            display inline-block
            padding-right angelPadding
            content codeAngelLeft

        &_right:before 
            display inline-block
            padding-left angelPadding
            content codeAngelRight

    &_theme
    
        &_default
            border: 3px solid primaryColor
            color primaryColor

        &_disabled
            background-color disabledColor
            color white

        &_primary
            background-color primaryColor
            color white