@require '../../mixins'
@require '../../colors'

primaryColor = themeColor1
disabledColor = themeColor3

codeAngelLeft = "\f104"
codeAngelRight = "\f105"

angelPadding = 5px

.arrow-button
    display flex  
    justify-content center
    align-items center
    circle(50px)
    font-family FontAwesome
    font-size 40px  
    cursor pointer

    &_direction_left:before
    &_direction_right:before
        display inline-block

    &_direction_left:before 
        padding-right angelPadding
        content codeAngelLeft

    &_direction_right:before 
        padding-left angelPadding
        content codeAngelRight

    &_theme_default
        border: 3px solid primaryColor
        color primaryColor

    &_theme_disabled
        background-color disabledColor
        color white

    &_theme_primary
        background-color primaryColor
        color white