mixin arrow-button({ direction='left', theme='default' })
    -const modifiers = [
    -    `arrow-button_direction_${direction}`,
    -    `arrow-button_theme_${theme}`
    -]
    button.arrow-button(class = modifiers)