@require '../../theme/mixins'
@require '../../theme/colors'

primary-color = theme-color1
disabled-color = theme-color3

code-angel-left = "\f104"
code-angel-right = "\f105"

angel-padding = 0.3125rem

.arrow-button
    display flex  
    justify-content center
    align-items center
    circle(3.125rem)
    margin 0
    padding 0
    background none
    font-family FontAwesome
    font-size 2.5rem 
    cursor pointer 
    border none

    &_direction

        &_left:before 
            display inline-block
            padding-right angel-padding
            content code-angel-left

        &_right:before 
            display inline-block
            padding-left angel-padding
            content code-angel-right

    &_theme
    
        &_default
            border: 0.1875rem solid primary-color
            color primary-color

        &_disabled
            background-color disabled-color
            color white

        &_primary
            background-color primary-color
            color white