mixin arrow-button({ direction, theme })
    -const modifiers = [
    -    `arrow-button_direction_${direction}`,
    -    `arrow-button_theme_${theme}`
    -]
    button.arrow-button(class = modifiers)