include ../tooltip/tooltip
include ../scale/scale


mixin slider({ value=0, scaleEnabled=false, theme="default" })
    .slider(class = `slider_${theme}`, data-value = value)
        .slider__widget
            .slider__handle.ui-slider-handle 
                +tooltip({ theme, arrowLocated: "bottom" })(class = "slider__tooltip")
                    = value
        if scaleEnabled
            .slider__scale
                +scale({
                    min: 0,
                    step: 25,
                    max: 100,
                    value
                })