@require '../../colors'

defaultColor = themeColor1
assertiveColor = themeColor2

.slider 
    position relative
    width 260px

    &_default

        .ui-slider .ui-widget-header
        .ui-slider .ui-slider-handle 
            background-color defaultColor

    &_assertive

        .ui-slider .ui-slider-handle 
            background-color assertiveColor

    & .ui-slider
        height 5px
        border none
        background-color #e5e5e5

        & .ui-slider-handle
            top -7px
            border none
            border-radius 50%

            &:focus
                outline none

            &.ui-state-active
                border none
                color inherit  

    &__tooltip 
        display none
        margin-top -40px
        margin-left -10px

        .ui-state-hover &
            display block

        .ui-state-active &
            display block 

    &__scale
        margin-top 10px 