@require '../../colors'

defaultColor = themeColor1
assertiveColor = themeColor2

.slider 
    width 260px

    &_default

        .ui-slider .ui-widget-header
        .ui-slider .ui-slider-handle 
            background-color defaultColor

    &_assertive

        .ui-slider .ui-slider-handle 
            background-color assertiveColor

    &__tooltip 
        width 40px
        height 31px
        margin-top -39px
        margin-left -10px 

    &__scale
        margin-top 10px 

    & .ui-slider
        height 5px
        border none
        background-color #e5e5e5

        & .ui-slider-handle
            top -7px
            border none
            border-radius 50%

            &.ui-state-hover .slider__tooltip
                display inline-flex

            &:focus
                outline none

            &.ui-state-active
                border none
                color inherit 

                & .slider__tooltip
                    display inline-flex