@require '../../theme/colors'

default-color = theme-color1
assertive-color = theme-color2

.slider 
    position relative
    width 16.26rem
    max-width 16.26rem

    &_default

        .ui-slider .ui-widget-header
        .ui-slider .ui-slider-handle 
            background-color default-color

    &_assertive

        .ui-slider .ui-slider-handle 
            background-color assertive-color

    & .ui-slider 
        height 0.3125rem
        border none
        background-color #e5e5e5

        & .ui-slider-handle
            top -0.4375rem
            border none
            border-radius 50%

            &:focus
                outline none

            &.ui-state-active
                border none
                color inherit  

    &__tooltip 
        display none
        margin-top -2.5rem
        margin-left -0.625rem

        .ui-state-hover &
            display block

        .ui-state-active &
            display block 

    &__scale
        margin-top 0.625rem