@require '../../theme/colors'

.user-list
    width 100%
    display flex
    flex-direction column
    margin 0
    padding 0
    list-style none
    
    &__user
        margin-top 0.625rem

        &:first-child
            margin-top 0