@require '../../theme/colors'

.user-list
    display flex
    flex-direction column
    margin 0
    padding 0
    list-style none
    
    &__user
        margin-top 10px 

        &:first-child
            margin-top 0