include ../validation-input/validation-input
include ../button/button

mixin feedback()
    .feedback
        .feedback__form
            .feedback__item.feedback__name
                -const namePattern = "^[A-Za-zА-Яа-я ]+$";
                +validation-input({ 
                    placeholder: "Your Name",
                    pattern: namePattern,
                    textOk: "thanks!",
                    textError: "error"
                })
            .feedback__item.feedback__email 
                +validation-input({ 
                    placeholder: "Your Email",
                    type: "email",
                    textOk: "thanks!",
                    textError: "error"
                })
            .feedback__item
                textarea.input.feedback__message(placeholder = "Your Message")
            .feedback__item.feedback__submit
                +button({ 
                    text: "button", 
                    size: "big", 
                    type: "raised"
                })