.feedback
    display flex 
    flex-direction column 
    width 290px

    &__item
        margin-top 10px

        &:first-child
            margin-top 0

    &__message
        height 88px
        resize none

    &__submit
        float right