include ../tooltip/tooltip
include ../button/button

mixin feedback()
    .feedback
        .feedback__form
            .feedback__name
            .feedback__email
            .feedback__message
            .feedback__submit