mixin preview({ type, image }) 
    .preview(class = `preview_${type}`)
        .preview__column.preview__column_left
            img.preview__img(
                src = `../blocks/${blockName}/img/${image}`,
                alt = "preview image"
            )
        .preview__column.preview__column_right
            .preview__description
                block

mixin preview-title
    .preview__title
        block

mixin preview-subtitle
    .preview__subtitle
        block

mixin preview-info
    .preview__info
        block
