@require '../../theme/colors'

.input 
    height 2rem
    max-width 18.75rem 
    min-width 9.8125rem
    width 100%
    margin 0
    padding 2% 0.625rem
    border none
    border-radius 0.1875rem
    background-color theme-color3
    color #888888 
    font-size 0.875rem
    font-family SourceSansProRegular  
    outline none 