mixin input(options)
    - 
        const {
            name, 
            placeholder,
            value,
            type,
            pattern,
            tabindex = false
        } = options || {};
    input.input.js-input( 
        name = name,
        placeholder = placeholder,
        value = value,
        type = type,
        pattern = pattern,
        tabindex = tabindex
    )