mixin input({ name, placeholder, value, type, pattern })
    input.input( 
        name = name,
        placeholder = placeholder,
        value = value,
        type = type,
        pattern = pattern
    )