@require '../../colors'

.input 
    height 32px
    width 300px
    margin 0
    padding 2% 10px
    border none
    border-radius 3px
    background-color themeColor3
    color #888888 
    font-size 14px
    font-family SourceSansProRegular  
    outline none

    &__button
        height 100%
        width 33px
        position absolute
        right 0
        border none
        outline none

        &:before
            color white
            font-family FontAwesome