@require '../../theme/colors'

.input 
    height 32px
    width 300px
    margin 0
    padding 2% 10px
    border none
    border-radius 3px
    background-color theme-color3
    color #888888 
    font-size 0.875rem
    font-family SourceSansProRegular  
    outline none 