@require '../../colors'

.news

    &__description 
        background-color themeColor2

    &__title
        font-family LatoLight, sans-serif  
        font-size 28px 
        line-height 26px

    &__date
        font-family LatoBlack, sans-serif
        text-transform uppercase
        font-size 11px
        margin-top 10px

    &__info
        font-family LatoRegular, sans-serif 
        font-size 11px
        margin-top 15px
        text-align left