@require '../../colors'

.news

    &__description 
        background-color themeColor2

    &__title 
        font-size 28px 
        line-height 26px

    &__date 
        font-size 11px
        margin-top 10px

    &__info  
        margin-top 15px