@require '../../colors'

.input
    min-height 28px
    width 100%
    margin 0
    padding 3px 10px
    border none
    border-radius 2px
    background-color themeColor3
    color #888888 
    font-size 14px
    font-family SourceSansProRegular
    text-transform capitalize