@require '../../theme/colors'

.link
    color #28a290
    text-decoration none
    font-family lato-light

    &_theme

        &_default
            color theme-color1

        &_white
            color white