@require '../../colors'

.link
    color #28a290
    text-decoration none
    font-family LatoLight

    &_theme

        &_default
            color themeColor1

        &_white
            color white