mixin textarea({ name, placeholder, type, tabindex=false })
    textarea.textarea(
        class = type ? `textarea_${type}` : '',
        name = name, 
        placeholder = placeholder,
        tabindex = tabindex
    )