@require '../../theme/colors'

.textarea
    min-height 5.5rem
    width 100%
    margin 0
    padding 2% 0.625rem
    border none
    border-radius 0.1875rem
    font-size 0.875rem
    font-family source-sans-pro-regular  
    resize none 
    background-color theme-color3
    color #888888 

    &_chat   
        padding 0.9375rem 1.5rem 0.9375rem 1.25rem
        border 0.1875rem solid white