@require '../../theme/colors'

.textarea
    height 88px
    width 100%
    margin 0
    padding 2% 10px
    border none
    border-radius 3px
    font-size 0.875rem
    font-family SourceSansProRegular  
    resize none
    outline none 
    background-color theme-color3
    color #888888 

    &_chat   
        padding 15px 24px 15px 20px 
        border 3px solid white