.setting
    display flex
    flex-direction column
    font-family LatoLight

    &__item
        display flex
        align-items center 
        margin-top 15px

        &:first-child
            margin-top 0

    &__label
        width 15% 

    &__input
        margin-left 2%