.setting
    display flex
    flex-direction column
    font-family lato-light

    &__item
        display flex
        align-items center 
        margin-top 15px

        &:first-child
            margin-top 0

    &__label
        width 40%   

    &__input 
        width 70% 

    &__button
        margin-top 15px