.contacts   
    display flex
    flex-direction column

    &__row 
        display flex
        justify-content space-between  
    
    &__info 
        margin-left 5%

    &__location 
        margin-top 1.25rem 