extends ../user-page/user-page

include ~blocks/feedback/feedback
include ~blocks/contact-list/contact-list
include ~blocks/location/location 

block data
    include ./contacts-data

block description
    meta(name="description", content="flat ui")

block keywords
    meta(name="keywords", content="flat-ui")

block title 
    | Контакты

block content 
    .contacts
        .contacts__row 
            .contacts__feedback
                +feedback 
            .contacts__info
                +contact-list(locals.contactsData) 
        .contacts__location
            +location(locals.locationInfo)