mixin pie-chart({ values=[], colors=[] })
    -chartItems = values.join(',');
    -const peityOptions = { fill: colors }
    .pie-chart.js-pie-chart
        span.pie-chart__items.js-pie-chart__items(data-peity = peityOptions)
            = chartItems
