mixin pie-chart({ values=[], colors=[] })
    -chartItems = values.join(',');
    -const peityOptions = { fill: colors }
    .pie-chart
        .pie-chart__items(data-peity = peityOptions)= chartItems
